* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E9EBAA;
  background-image: url(../img/fon.png);
  background-repeat: repeat;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  background-color: white;
}


/* шапка */

header {
  height: 240px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  clear: both;
}

.top_right,
.top_center,
.top_left {
  display: inline-block;
  width: 33%;
  height: 190px;
  float: left;
}

.top_left {
  text-align: left;
}

.top_rezhim,
.top_adress {
  height: 60px;
  font-size: 18px;
  padding-left: 70px;
  margin-left: 15px;
}

.top_rezhim {
  margin-top: 10px;
  margin-bottom: 37px;
  background: url(../img/ico_sprite_small.svg) no-repeat 0 -64px;
  background-size: 63px;
}

.top_adress {
  background: url(../img/ico_sprite_small.svg) no-repeat 0 0;
  background-size: 63px;
}

.top_center {
  text-align: center;
  cursor: pointer;
  background: url(../img/Logo.svg) no-repeat;
  background-size: auto 158px;
  position: relative;
  bottom: 0;
  border-top: 1px solid transparent;
}

.top_center>a{
  display: block;
    height: 190px;
}

.top_right {
  text-align: right;
}

.tel_base {
  font-weight: bold;
  font-size: 47px;
  color: #55974d;
}

.tel_reserv {
  font-size: 32px;
}

.btn {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14pt;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 242px;
  margin: 14px 0 0 153px;
  padding: 22px 12px;
  cursor: pointer;
  background: #55974d;
  box-shadow: 0 0 5px 0 #34495e;
  border-radius: 10px;
  /* Переход */
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.btn:hover {
  opacity: 0.6;
}


/* меню */

nav {
  clear: both;
  height: 50px;
  background-color: #87cc60;
}

ul {
  list-style: none;
  height: 50px;
  margin: 0 0 0 60px;
}

ul a {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14pt;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 0 16px;
  display: block;
  line-height: 50px;
  /* Переход */
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

ul a:hover {
  background-color: white;
  color: black;
  opacity: 0.6;
}

li {
  float: left;
}

li>.first{
  background-image: url(../img/ico_sprite_small.svg);
  background-repeat: no-repeat;
  background-position: -1px -240px;
  background-size: 48px;
  width: 16px;
}

li>.first:hover{
  background-color: transparent;
}

/* Фото */

.photo {
  height: 562px;
  background: url(../img/main_pic1.jpg) no-repeat;
  background-position: center;
}


/*

/*  Сервисы */

.service {
  text-align: center;
}

.service_header {
  font-family: Roboto, sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  margin: 20px 0;
}

.box4 {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.service_box {
  border-radius: 10px;
  background-color: #87cc60;
  width: 300px;
  height: 130px;
  display: inline-block;
  border: 2px solid transparent;
  color: white;
  vertical-align: bottom;
  /* Переход */
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.service_box:hover {
  opacity: 0.6;
  color: black;
}

.sb_head {
  font-family: Roboto, sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

.sb_text {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
}


/* Приветствие */

.content {
  margin: 0 auto;
  text-align: center;
}

.hello_header {
  display: block;
  width: 757px;
  border-bottom: 4px solid #87cc60;
  font-family: Roboto, sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0 auto 50px auto;
}

.hello_content {
  border-radius: 15px;
  background-color: #eaffe6;
  width: 1140px;
  height: 310px;
  margin: 50px auto;
  padding: 20px 40px;
}

.hello_text {
  text-align: left;
  font-family: Roboto, sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 0;
}


/*  Блок новостей и статей */

.news_article {
  width: 1220px;
  height: 440px;
  margin: 50px auto;
}

.bottom_block {
  width: 560px;
  height: 440px;
  display: inline-block;
  padding: 0 0 0 40px;
}

.block_news {
  float: left;
}

.block_article {
  float: right;
}

.bottom_block_header {
  height: 30px;
  border-bottom: 4px solid #55974d;
  padding-bottom: 10px;
}

.news_and_article {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  float: left;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.news_archive,
.article_archive {
  display: inline-block;
  float: right;
  height: 28px;
  vertical-align: bottom;
}

.news_archive>a,
.article_archive>a {
  display: block;
  font-family: Roboto, sans-serif;
  color: #55974d;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.news_archive>a:hover,
.article_archive>a:hover {
  color: #000000;
}

.news_archive {
  background-image: url(../img/ico_sprite_small.svg);
  background-repeat: no-repeat;
  background-position: 0px -73px;
  background-size: 25px;
  padding-left: 30px;
  line-height: 40px;
}

.article_archive {
  background-image: url(../img/ico_sprite_small.svg);
  background-repeat: no-repeat;
  background-position: 0px -99px;
  background-size: 25px;
  padding-left: 30px;
  line-height: 40px;
}

.news,
.article{
  height: 100px;
  margin: 20px 0;
  clear: both;
}

.news_dt,
.news_body {
  display: inline-block;
  vertical-align: top;
  height: 100px;
}

.news_dt {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.news_body {
  width: 430px;
  float: right;

}

.news_body a,
.article a{
  font-family: Roboto, sans-serif;
  color: #55974d;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.news_body a:hover,
.article a:hover{
  text-decoration: none;
  opacity: 0.6;
}

.news_description,
.article_description{
  font-family: Roboto, sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
}


/* Футер */

footer {
  height: 55px;
  background-color: #86cb5f;
  padding: 15px 65px;
}

footer>p {
  padding: 0 0 15px 10px;
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}

footer a,
footer a:hover {
  text-decoration: none;
  color: #EAFFE6;
}
